<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link href="../css/bootstrap.min.css" rel="stylesheet"
        th:href="@{/css/bootstrap.min.css}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap" rel="stylesheet">
  <style>
    *{
      font-family: 'Noto Sans KR', sans-serif;
    }
    html,body{
      height: 100%;
    }
    .field-error {
      border-color: #dc3545;
      color: #dc3545;
    }
    .py-xl-1{
      background-color: black;
    }
    .footer{
      background-color: black;
      width: 100%;
      height: 300px;
    }
    #wrapper{
      height : 100%;
    }
    .name{
      text-align: center;
      font-size: x-large;
      color: white;
      padding: 60px;
    }
  </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" th:onclick="|location.href='/yw/boards'|">spring.com</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
      </ul>
    </div>
    <form class="d-flex">
      <div>
        <h5 class="text-body" th:text="${mesg}"></h5>
      </div>
      <button class="btn btn-outline-dark" th:onclick="|location.href='/yw/logout'|" type="button" >
        <i class="bi-cart-fill me-1"></i>
        logout
      </button>
    </form>
  </div>
</nav>
<header class="py-xl-1">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder" th:onclick="|location.href='/yw/boards'|">spring.com</h1>
      <p class="lead fw-normal text-white-50 mb-0"></p>
    </div>
  </div>
</header>
<div class="container">
  <div class="py-5 text-center">
    <h2>게시글 수정</h2>
  </div>
  <form th:action th:object="${board}" enctype="multipart/form-data" method="post">
    <div>
      <label for="id">ID</label>
      <input type="text" id="id" name="id" class="form-control"
             th:field="*{id}" readonly>
    </div>
    <div>
      <label for="title">상품명</label>
      <input type="text" id="title" name="title" class="form-control" th:errorclass="field-error"
             th:field="*{title}">
      <div th:each="msg:${#fields.errors('title')}">
        <p th:text="${msg}"></p>
      </div>
    </div>
    <div>
      <label for="name">작성자</label>
      <input type="text" id="name" name="name" th:value="${nick}" class="form-control" readonly>

    </div>
    <div>
      <label for="price">가격</label>
      <textarea type="text" id="price" name="price" class="form-control" th:errorclass="field-error"
                th:field="*{price}" rows="1"></textarea>
      <div th:each="msg:${#fields.errors('price')}">
        <p th:text="${msg}"></p>
      </div>1
    </div>
    <div>
      <div>판매상태선택</div>
      <select class="form-select" id="sts" name="sts" th:value="*{sts}">
        <option value="판매중">판매중</option>
        <option value="판매완료">판매완료</option>
        <option value="예약중">예약중</option>
      </select>
    </div>
    <div>
      <label for="cont">내용</label>
      <textarea type="text" id="cont" name="cont" class="form-control" rows="5"
                th:text="${board.cont}" th:field="*{cont}"></textarea>
      <div th:each="msg:${#fields.errors('cont')}">
        <p th:text="${msg}"></p>
      </div>
        <label>상품사진</label>
        <div class="image">
          <tr th:each="image:${board.getImage()}">
            <img th:src="@{${image.getImagePath()}}" width="1100px">
          </tr>
        </div>
    </div>
    <div>
      <label for="imgfile" class="">상품사진변경</label>
      <input type="file" id="imgfile" name="imgfile" class="form-control-file" multiple>
    </div>
    <hr class="my-4">
    <div class="row">
      <div class="col">
        <button class="w-100 btn btn-dark btn-lg" type="submit">저장</button>
      </div>
      <div class="col">
        <button class="w-100 btn btn-dark btn-lg"
                th:onclick="|location.href='@{/yw/boards/{id}/delete(id=${board.id})}'|"
                type="button">삭제</button>
      </div>
      <div class="col">
        <button class="w-100 btn btn-dark btn-lg"
                th:onclick="|location.href='/yw/boards'|"
                type="button">취소</button>
      </div>
    </div>
  </form>
</div> <!-- /container -->
<br>
</body>
<footer class="footer">
  <div class="name">
    <a>YOONWOO AHN, 안 윤우</a><br>
    <a>+82 10-8883-1737</a><br>
    <a>anyunu9@gmail.com</a><br>
    <a>GitHub: https://github.com/uuuuuunu</a>
  </div>
</footer>
</html>