<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link href="../css/bootstrap.min.css" rel="stylesheet"
        th:href="@{/css/bootstrap.min.css}">
  <style>
    .container {
      max-width: 800px;
    }
    .field-error {
      border-color: #dc3545;
      color: #dc3545;
    }
  </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" th:onclick="|location.href='/yw/boards'|">CBNU Market</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
      </ul>


    </div>
    <form class="d-flex">
      <div>
        <h5 class="text-body" th:text="${mesg}"></h5>
      </div>
      <button class="btn btn-outline-dark" th:onclick="|location.href='/yw/boards/myhome'|" type="button" >
        <i class="bi-cart-fill me-1"></i>
        Mypage
      </button>
      <button class="btn btn-outline-dark" th:onclick="|location.href='/yw/logout'|" type="button" >
        <i class="bi-cart-fill me-1"></i>
        logout
      </button>

    </form>
  </div>
</nav>
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">CBNU Market</h1>
      <p class="lead fw-normal text-white-50 mb-0"></p>
    </div>
  </div>
</header>

<div class="container">
  <form th:action th:object="${member}" method="post">
    <div>
      <label for="username">아이디 **아이디는 변경불가합니다.**</label>
      <input type="text" id="username" name="username" class="form-control"
             th:field="*{username}" readonly>
    </div>
    <div>
      <label for="password">비밀번호</label>
      <input type="text" id="password" name="password" class="form-control"  th:errorclass="field-error"
            th:field="*{password}">
      <div th:each="msg:${#fields.errors('password')}">
        <p th:text="${msg}"></p>
      </div>
    </div>
    <div>
      <label for="name">이름</label>
      <input type="text" id="name" name="name" class="form-control"  th:errorclass="field-error"
             th:field="*{name}">
      <div th:each="msg:${#fields.errors('name')}">
        <p th:text="${msg}"></p>
      </div>
    </div>

    <div>
      <label for="nickname">닉네임</label>
      <input type="text" id="nickname" name="nickname" class="form-control"  th:errorclass="field-error"
             th:field="*{nickname}">
      <div th:each="msg:${#fields.errors('nickname')}">
        <p th:text="${msg}"></p>
      </div>
    </div>
    <div>
      <label for="email">e-mail</label>
      <input type="text" id="email" name="email" class="form-control"
             th:field="*{email}" >
    </div>
    <div>
      <label for="phnum">휴대폰번호</label>
      <input type="text" id="phnum" name="phnum" class="form-control"
             th:field="*{phnum}">
    </div>

    <hr class="my-4">
    <div class="row">
      <div class="col">
        <button class="w-100 btn btn-primary btn-lg" type="submit">저장
        </button>
      </div>

      <div class="col">
        <button class="w-100 btn btn-secondary btn-lg"
                th:onclick="|location.href='/yw/boards'|"
                type="button">취소</button>
      </div>
    </div>
  </form>
</div> <!-- /container -->
</body>
</html>