<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link href="../css/bootstrap.min.css" rel="stylesheet"
        th:href="@{/css/bootstrap.min.css}">
  <style>
    .container {

    }
    .col{
      margin-top: 20px;
    }
    .image{
      text-align: center;
    }
  </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" th:onclick="|location.href='/yw/boards'|">CBNU Market</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
      </ul>


    </div>
    <form class="d-flex">
      <div>
        <h5 class="text-body" th:text="${mesg}"></h5>
      </div>

      <button class="btn btn-outline-dark" th:onclick="|location.href='/yw/boards/myhome'|" type="button" >
        <i class="bi-cart-fill me-1"></i>
        Mypage
      </button>
      <button class="btn btn-outline-dark" th:onclick="|location.href='/yw/logout'|" type="button" >
        <i class="bi-cart-fill me-1"></i>
        logout
      </button>
    </form>
  </div>
</nav>
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">CBNU Market</h1>
      <p class="lead fw-normal text-white-50 mb-0"></p>
    </div>
  </div>
</header>
<div class="container">
  <div class="py-5 text-center">
    <h2>상품 상세</h2>
  </div>
  <div>
    <label for="title">상품명</label>
    <input type="text" id="title" name="title" class="form-control"
           th:value="${board.title}" readonly>
  </div>
  <div>
    <label for="nick">작성자</label>
    <input type="text" id="nick" name="nick" class="form-control"
           th:value="${board.getMember().getNickname()}" readonly>
  </div>
  <div>
    <label for="price">가격</label>
    <input type="text" id="price" name="price" class="form-control"
           th:value="${board.price}" readonly>
  </div>
  <div>
    <label for="creatAt">날짜</label>
    <input type="text" id="creatAt" name="creatAt" class="form-control"
           th:value="${board.creatAt}" readonly>
  </div>
  <div>
    <label for="cont">판매상태</label>
    <input type="text" id="sts" name="sts" class="form-control"
           th:value="${board.sts}" readonly>
  </div>
  <div>
    <label for="cont">내용</label>
    <input type="text" id="cont" name="cont" class="form-control"
           th:value="${board.cont}" readonly>
  </div>
  <form>
    <label>상품사진</label>
    <div class="image">
      <<img th:src="@{${image.getImagePath()}}">>
    </div>
  </form>
    <div class="col">
      <button class="w-100 btn btn-secondary btn-lg"
              onclick="location.href='items.html'"
              th:onclick="|location.href='/yw/boards'|"
              type="button">목록으로</button>
    </div>

</div> <!-- /container -->
</body>
</html>