<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link href="../css/bootstrap.min.css" rel="stylesheet"
        th:href="@{/css/bootstrap.min.css}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap" rel="stylesheet">
</head>
<style>
  html,body{
    height: 100%;
  }
  *{
    font-family: 'Noto Sans KR', sans-serif;
  }
  .table{
    text-align: center;
  }
  .bd2{
    text-align: center;
  }
  .py-xl-1{
    background-color: black;
  }
  .footer{
    background-color: black;
    width: 100%;
    height: 300px;
  }
  #wrapper{
    height : 100%;
  }
  .name{
    text-align: center;
    font-size: x-large;
    color: white;
    padding: 60px;
  }
</style>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" th:onclick="|location.href='/yw/boards'|">spring.com</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
      </ul>
    </div>
    <form class="d-flex">
      <div>
        <h5 class="text-body" th:text="${mesg}"></h5>
      </div>

      <button class="btn btn-outline-dark" th:onclick="|location.href='/yw/boards/myhome'|" type="button" >
        <i class="bi-cart-fill me-1"></i>
        Mypage
      </button>
      <button class="btn btn-outline-dark" th:onclick="|location.href='/yw/logout'|" type="button" >
        <i class="bi-cart-fill me-1"></i>
        logout
      </button>
    </form>
  </div>
</nav>
<header class="py-xl-1">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder" th:onclick="|location.href='/yw/boards'|">spring.com</h1>
      <p class="lead fw-normal text-white-50 mb-0"></p>
    </div>
  </div>
</header>
<div class="container">
  <div class="py-5 text-center">
    <h2>게시물 목록</h2>
  </div>
  <div class="row">
    <div class="col">
      <h2 th:onclick="|location.href='/yw/boards/new'|">✏ 게시글 등록하기</h2>
    </div>
  </div>
  <hr class="my-4">
  <div>
    <table id="tablebd" class="table">
      <thead>
      <tr>
        <th>글번호</th>
        <th>상태</th>
        <th>상품명</th>
        <th>가격</th>
        <th>작성자</th>
        <th>작성일자</th>
        <th>조회수</th>
      </tr>
      </thead>
      <tbody class="bd2">
      <tr id="boards" th:each="board:${boards}">
        <td><a href="../../../static/board.html" th:href="@{/yw/boards/{id}/{imageId}(id=${board.id})}" th:text="${board.id}"></a></td>
        <td th:text="${board.sts}"></td>
        <td><a href="../../../static/board.html" th:href="@{/yw/boards/{id}(id=${board.id})}" th:text="${board.title}"></a></td>
          <td id="price" th:text="${board.price}"></td>

        <td th:text="${board.member.getNickname()}"></td>
        <td th:text="${board.creatAt}"></td>
        <td th:text="${board.hit}"></td>
      </tr>
      <script th:inline="javascript">
        var table=document.getElementById("tablebd");
        var rowList=table.rows;
        console.log('rowlistlg',rowList.length);
        for(var i=1;i<rowList.length;i++){
          console.log('rowlistlg2',rowList.length);
          var row=rowList[i];
          var col=row.cells[3].innerText.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",")+"원";
          table.getElementsByTagName('tr')[i].getElementsByTagName('td')[3].innerHTML=col;
        }
      </script>
      </tbody>
    </table>
  </div>

</div> <!-- /container -->
<br>

</body>

<footer class="footer">
  <div class="name">
    <a>YOONWOO AHN, 안 윤우</a><br>
    <a>+82 10-8883-1737</a><br>
    <a>anyunu9@gmail.com</a><br>
    <a>GitHub: https://github.com/uuuuuunu</a>
  </div>
</footer>
</html>