<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap" rel="stylesheet">
    <style>
        html,body{
            height: 100%;
        }
        *{
            font-family: 'Noto Sans KR', sans-serif;
        }
        .container {
            max-width: 800px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
        .py-xl-1{
            background-color: black;
        }
        .footer{
            background-color: black;
            width: 100%;
            height: 300px;
        }
        #wrapper{
            height : 100%;
        }
        .name{
            text-align: center;
            font-size: x-large;
            color: white;
            padding: 60px;
        }
    </style>
</head>
<script>

</script>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#!">spring.com</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    </div>
</nav>
<header class="py-xl-1">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder" th:onclick="|location.href='/yw/boards'|">spring.com</h1>
            <p class="lead fw-normal text-white-50 mb-0"></p>
        </div>
    </div>
</header>
<div class="container">
    <div class="py-5 text-center">
        <h2>회원 가입</h2>
    </div>
    <h4 class="mb-3">회원 정보 입력</h4>
    <form action="" th:action th:object="${member}" method="post">
        <div>
            <label for="username">아이디</label>
            <input type="text" id="username" th:field="*{username}" name="loginId" class="form-control"
                   th:errorclass="field-error">
            <div th:each="msg:${#fields.errors('username')}">
                <p th:text="${msg}"></p>
            </div>
            <input type="button" id="checkid" value="중복검사" onclick="sendAjaxRequest()">
            <div><span id="result_checkId" style="font-size:20px;"></span></div>
            <script>
                var checked = false;

                function sendAjaxRequest() {
                    let username = $('#username').val();
                    $.ajax({
                        type: 'POST',
                        contentType: 'text/plain',
                        data: username,
                        url: '/yw/checkid',
                        success: function (data) {
                            if (data == 1) {
                                console.log(data);
                                result = "사용 가능한 ID 입니다."
                                checked = true;
                                console.log(checked);
                                $("#result_checkId").html(result).css("color", "green");
                            } else {
                                result = "사용 불가능한 ID입니다. 다른 ID를 입력해주세요.";
                                console.log(checked);
                                $("#result_checkId").html(result).css("color", "red");
                                checked = false;
                            }
                        },
                        error: function (error) {
                            console.error(error);
                            checked = false;
                        }
                    });
                }

                function test() {
                    if (checked === false) {
                        throw new Error("ID 확인이 필요합니다.");
                    }
                    return checked;
                }

                function test2() {
                    try {
                        return test();
                    } catch (e) {
                        console.error(e.message);
                    }
                }
                function registerUser() {
                    if (checked) {
                        document.forms[0].submit();
                    } else {
                        alert('아이디 중복 체크를 통과해야 회원가입이 가능합니다.');
                    }
                }
            </script>
        </div>
        <div>
            <label for="password">비밀번호</label>
            <input type="text" id="password" th:field="*{password}" name="password" class="form-control"
            th:errorclass="field-error">
            <div th:each="msg:${#fields.errors('password')}">
                <p th:text="${msg}"></p>
            </div>
        </div>
        <div>
            <label for="name">이름</label>
            <input type="text" id="name" name="name" th:field="*{name}" class="form-control"
            th:errorclass="field-error">
            <div th:each="msg:${#fields.errors('name')}">
                <p th:text="${msg}"></p>
            </div>
        </div>
        <div>
            <label for="nickname">닉네임</label>
            <input type="text" id="nickname" th:field="*{nickname}" name="nickname" class="form-control"
            th:errorclass="field-error">
            <div th:each="msg:${#fields.errors('nickname')}">
                <p th:text="${msg}"></p>
            </div>
        </div>
        <div>
            <label for="phnum">휴대폰번호</label>
            <input type="text" id="phnum" th:field="*{phnum}" name="phnum" class="form-control"
            th:errorclass="field-error">
            <div th:each="msg:${#fields.errors('phnum')}">
                <p th:text="${msg}"></p>
            </div>
        </div>
        <div>
            <label for="email">e-mail</label>
            <input type="text" id="email" th:field="*{email}" name="phnum" class="form-control">
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-dark btn-lg" type="button" onclick="registerUser()">회원 가입</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-dark btn-lg"
                        th:onclick="|location.href='@{/yw}'|"
                        type="button">취소</button>
            </div>
        </div>
        <br>
    </form>
</div> <!-- /container -->

</body>
<footer class="footer">
    <div class="name">
        <a>YOONWOO AHN, 안 윤우</a><br>
        <a>+82 10-8883-1737</a><br>
        <a>anyunu9@gmail.com</a><br>
        <a>GitHub: https://github.com/uuuuuunu</a>
    </div>
</footer>
</html>